<html>
<head>
    {% if content=="home"-%}
    <title>The Disaster Resilience Rating For Hotels - Home</title>
    {% elif content=="about-us"-%}
    <title>The Disaster Resilience Rating For Hotels - About Us</title>
    {% elif content=="contact-us" -%}
    <title>The Disaster Resilience Rating For Hotels - Contact Us</title>
    {% elif content=="framework" -%}
    <title>The Disaster Resilience Rating For Hotels - Our Framework</title>
    {% elif content=="partners" -%}
    <title>The Disaster Resilience Rating For Hotels - Partners</title>
    {% elif content=="faq" -%}
    <title>The Disaster Resilience Rating For Hotels - FAQ</title>
    {% elif content=="news" -%}
    <title>The Disaster Resilience Rating For Hotels - News</title>
    {% elif content=="rated-hotels" -%}
    <title>The Disaster Resilience Rating For Hotels - Rated Hotels</title>
    {% endif -%}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

</body>
</html>